@{
  Layout = "_Layout";
}

<h1>Welcome to the BEST RESTAURANTSSSS!</h1>
<div class= "bestrestaurants_img"></div>
<h4>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</h4>
<h4>@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</h4>