@{
  Layout = "_Layout";
}

<h1>Welcome to the BEST RESTAURANTSSSS!</h1>
<div class= "bestrestaurants_img"></div>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>
<p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>