@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;

<h1>Restaurant</h1>

<ul>
  @foreach(Restaurant restaurant in Model)
  {
    <li>@Html.ActionLink($"{restaurant.RestaurantName}", "Details", new {id = restaurant.RestaurantId }) | @restaurant.Cuisine.CuisineName</li>
  }
</ul>

<h4>@Html.ActionLink("Add new restaurant", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>


